/*-----------------
| Header section
-------------------*/
.header {
  border-bottom: 1px solid var(--border-header);
  }
  .header-container {
    position: relative;
    @media screen and (min-width: 767.98px){
      display: flex;
    }
  }
  .navigation {
    @media screen and (min-width: 767.98px){
      display: flex;
      align-items: center;
    }
  }
  
  .header-logo {
    @media screen and (max-width: 767.98px){
      display: block;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @media screen and (min-width: 767.98px) and (max-width: 1199.98px){
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px){
      margin-right: 93px;
    }
  }
  .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
  
    transition: color var(--animation);

    &:hover,
    &:focus {
      color: var(--accent-cl);
    }
  }
  
  .logo-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-cl);
  }
  
  .logo-studio {
    color: var(--secondary-txt-black);
  }
  

  .navigation-list {
    @media screen and (max-width: 767.98px){
      display: none;
      }
    @media screen and (min-width: 767.98px){
      display: flex;
    }
  }
  .navigation-list__item {
    @media screen and (min-width: 767.98px){
      margin-right: 50px;
    &:last-child {
      margin-right: 0;
   }
  }}

  
  .navigation-list__link {
    @media screen and (min-width: 767.98px){
      position: relative;
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  .navigation-list__link.navigation-list__link--current::after{
    @media screen and (min-width: 767.98px){
      position: absolute;
      bottom: 0;
      left: 0;
  
      content: '';
      display: block;
      width: 100%;
      height: 4px;
  
      background-color: var(--bgd-button);
      border-radius: 2px;
      margin-bottom: -1px;
    }

  }
  
  .contacts {
    @media screen and (max-width: 767.98px){
      display: none;
      }
    @media screen and (min-width: 767.98px) and (max-width: 1199.98px){
      display: flex;
      margin-left: auto;
      flex-direction: column;
      padding-top: 21px;
      padding-bottom: 21px;
    }
    @media screen and (min-width: 1200px){
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
  .contacts__item {
    @media screen and (min-width: 767.98px) and (max-width: 1199.98px){
      margin-bottom: 10px;
      &:last-child {
          margin-bottom: 0;}
    }
    @media screen and (min-width: 1200px){
      margin-right: 50px;
      &:last-child {
          margin-right: 0;}
    }
  }
  .contacts__link {
    color: var(--main-txt-cl);
    transition: color var(--animation);

    @media screen and (min-width: 767.98px) and (max-width: 1199.98px){
      font-size: 12px;
      line-height: 1.16;
    }
    @media screen and (min-width: 1200px){
     display: flex;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
    }

  }
  .contacts__link:hover .contacts__icon,
  .contacts__link:focus .contacts__icon {
    fill: var(--icon-accent-cl);
  }
  .navigation-list__link--current {
    color: var(--accent-cl);
  }
  .contacts__icon {
    fill: var(--icon-header-cl);
    transition: fill var(--animation);

    @media screen and (min-width: 767.98px) and (max-width: 1199.98px){
      margin-right: 8px;
    }

    @media screen and (min-width: 1200px){
      margin-right: 10px;
    }
  }

  // Меню мобильная версия

  .header-menu__btn{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: var(--main-bg-cl);
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 10;

    @media screen and (min-width: 767.98px){
      display: none;
    }
    @media screen and (min-width: 1200px){
      display: none;
    }
  }